{% extends 'base.html.twig' %}

{% block body %}
    
    
    
    <body  class="dark bg-dark">        
        <div style="text-align: center; margin: 40px;" class="card text-white bg-danger mb-3" style="max-width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">¿Estas seguro de añadirlo a tus favoritos?</h5>
             {{ form(form, {'attr': {'id': 'formulario_insertar_favorito'}}) }}
            
        </div>
           
    </body>
     
   
{% endblock %}