/*Barra de navegacion*/

.navbar{
    margin-bottom: 2rem;
    font-size: 1em;
    font-family: 'Reggae One', cursive;
    padding: 20px;
  }
  input#abrir-cerrar {
    visibility:hidden;
    position: absolute;
    top: -9999px;
}


label[for="abrir-cerrar"] {
    cursor:pointer;
    padding: 1rem;
    color:#fff;
    display:inline-block;
    width:100%;

}

.cerrar {
    display:none;
}

#sidebar {
    width:0;
}

#contenido {
    margin-left:0;
}

input#abrir-cerrar:checked ~ #sidebar {
    width:300px;
}

input#abrir-cerrar:checked + label[for="abrir-cerrar"], input#abrir-cerrar:checked ~ #contenido {
    margin-left:300px;
    transition: margin-left .4s;
}


input#abrir-cerrar:checked + label[for="abrir-cerrar"] .cerrar {
    display:inline;
}

input#abrir-cerrar:checked + label[for="abrir-cerrar"] .abrir {
    display:none;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    z-index: 1;
    background-color:brown;
    overflow-x: hidden;
    transition: 0.4s;
    padding: 1rem 0;
    box-sizing:border-box;
}

.sidebar .boton-cerrar {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 2rem;
    display: block;
    padding: 0;
    line-height: 1.5rem;
    margin: 0;
    height: 32px;
    width: 32px;
    text-align: center;
}

.sidebar ul, .sidebar li{
    margin:0;
    padding:0;
    list-style:none inside;
}

.sidebar ul {
    margin: 4rem auto;
    display: block;
    width: 80%;
    min-width:200px;
}

.sidebar a {
    display: block;
    font-size: 120%;
    color: #eee;
    text-decoration: none;
    
}

.sidebar a:hover{
    color:#fff;
    background-color: #f90;

}

h1 {
    color:#f90;
    font-size:180%;
    font-weight:normal;
}
#contenido {
    transition: margin-left .4s;
    padding: 1rem;
}

.abrir-cerrar {
    color: #2E88C7;
    font-size:1rem;   
}


/*Pagina Inicio*/
#home{
    font-family: Lobster,cursive;
    height: 300px;
    width: 100%;
    background-image: url(https://blog.malwarebytes.com/wp-content/uploads/2018/10/shutterstock_612941954-900x506.jpg) ;
    background-size: 100% 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;

}


#tituloI{
    text-align: center;
    font-size: 150px;
    padding: 50px;
    color:saddlebrown;

}
#contenidoI{
    text-align: center;
    color:wheat;
    font-size: 50px;
}


/*Pagina Foro*/
#foro{
    background-size: cover;
    background-image: url(https://images3.alphacoders.com/167/thumb-1920-167859.jpg);
    color:sandybrown;
    text-shadow: 3px 3px 3px black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    border-radius: 10px;
    height: 250px;
    width: 100%;
    font-family: Lobster,cursive;
    
}
#mensaje{
    background-color:lightgoldenrodyellow;
    margin: 80px;
    border: 2px solid red;
    border-radius: 20px;
    box-shadow: 0 0 6px 0 black;
    display: flex;
    justify-content: space-around;
    align-items: center;
     font-family: Lobster,cursive;
    
}

#usuarioForo img{
    width: 100px;
    height: 100px;
    border: 3px solid black;
    border-radius: 50%;
    object-fit: cover;/*como el background-sice:cover, lo cubre todo sin deofrmar la imagagen */
}
    

#mensajeForo{
    margin: 20px;
    width: 60%;
    color: black;
   
}
/*Registro*/
#cabeceraRegistro{
    padding: 25px;
    border: 2px solid black;
    background-image: url(https://i.pinimg.com/originals/d0/c2/fc/d0c2fc800ed8ff8947e4ebf2d55e8555.jpg);
    background-repeat: no-repeat;
    color:crimson;
    text-shadow: 3px 3px 3px black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Lobster,cursive;    
}
.form{
    color: white;
}
/*botones*/
.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    background-color:cornflowerblue;
    border: none;
    border-radius: 10px;
    font-family: 'Fjalla One', sans-serif;
  }
  
  .button:hover {background-color:darkblue}
