/*barra lateral*/
.fa-2x {
font-size: 2em;
}
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
color:#dc493a;
}


.main-menu:hover,nav.main-menu.expanded {
width:250px;
overflow:visible;
}

.main-menu {
background:black;
border-right:1px solid #e5e5e5;
position:fixed;
top:0;
bottom:0;
height:100%;
left:0;
width:60px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;

}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:250px;

}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#999;
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
  
}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
height: 100%;
  font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:sandybrown;
}
.nav-text{
    color:white;
}
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}



/*Barra de navegacion*/
#navegacion{
    background-color: #1A1A1A;
}
.navbar{
    margin-bottom: 2rem;
    font-size: 1em;
    font-family: 'Reggae One', cursive;
    padding: 20px;
  }
  input#abrir-cerrar {
    visibility:hidden;
    position: absolute;
    top: -9999px;
}


label[for="abrir-cerrar"] {
    cursor:pointer;
    padding: 1rem;
    color:#fff;
    display:inline-block;
    width:100%;

}

.cerrar {
    display:none;
}

#sidebar {
    width:0;
}

#contenido {
    margin-left:0;
}

input#abrir-cerrar:checked ~ #sidebar {
    width:300px;
}

input#abrir-cerrar:checked + label[for="abrir-cerrar"], input#abrir-cerrar:checked ~ #contenido {
    margin-left:300px;
    transition: margin-left .4s;
}


input#abrir-cerrar:checked + label[for="abrir-cerrar"] .cerrar {
    display:inline;
}

input#abrir-cerrar:checked + label[for="abrir-cerrar"] .abrir {
    display:none;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    z-index: 1;
    background-color:brown;
    overflow-x: hidden;
    transition: 0.4s;
    padding: 1rem 0;
    box-sizing:border-box;
}

.sidebar .boton-cerrar {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 2rem;
    display: block;
    padding: 0;
    line-height: 1.5rem;
    margin: 0;
    height: 32px;
    width: 32px;
    text-align: center;
}

.sidebar ul, .sidebar li{
    margin:0;
    padding:0;
    list-style:none inside;
}

.sidebar ul {
    margin: 4rem auto;
    display: block;
    width: 80%;
    min-width:200px;
}

.sidebar a {
    display: block;
    font-size: 120%;
    color: #eee;
    text-decoration: none;
    
}

.sidebar a:hover{
    color:#fff;
    background-color: #f90;

}

h1 {
    color:#f90;
    font-size:180%;
    font-weight:normal;
}
#contenido {
    transition: margin-left .4s;
    padding: 1rem;
}

.abrir-cerrar {
    color: #2E88C7;
    font-size:1rem;   
}
#usuarioEn{
    color: white;    
}
#usuarioEn:hover{
    color:#dc493a;
}
/*footer*/

/*Pagina Inicio*/
#bienvenido{
    text-align: center;
    color: sandybrown;  
    margin: 50px;    
    font-family: Lobster,cursive;
}

#home{
    font-family: Lobster,cursive;
    height: 300px;
    background-image: url(https://wallpapercave.com/wp/wp8439533.jpg);
    width: 100%;
    background-size: 100% 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;

}


#tituloI{
    text-align: center;
    font-size: 100px;
    padding: 50px;
    color:#dc493a;

}
#contenidoI{
    text-align: center;
    color:#dc493a;
    font-size: 50px;
    border: 2px solid #dc493a;
    /*background: radial-gradient(circle,#55e176 ,#25233b 80%  );*/
    background-color: #25233b;
}
#fraseProximos{
    color:sandybrown;
   text-align: left;
   font-family: Lobster,cursive;
   margin: 70px;
}
#fraseProximos h1{
    font-size: 60px;
}
#fraseProximos p{
    font-size: 25px;
}
#festivalProximo{
    margin: 40px;
    font-family: Lobster,cursive;
}
#festivalProximo h1{
    font-size: 60px;
    text-align: center
}
#festivalProximo p{
    font-size: 20px;
    margin: 30px;
}

/*Pagina Foro*/
#foro{
    background-size: cover;
    background-image: url(https://images3.alphacoders.com/167/thumb-1920-167859.jpg);
    color:sandybrown;
    text-shadow: 3px 3px 3px black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    border-radius: 10px;
    height: 250px;
    width: 100%;
    font-family: Lobster,cursive;
    
}
#mensaje{
    background-color:lightgoldenrodyellow;
    margin: 80px;
    border: 2px solid red;
    border-radius: 20px;
    box-shadow: 0 0 6px 0 black;
    display: flex;
    justify-content: space-around;
    align-items: center;
     font-family: Lobster,cursive;
    
}

#usuarioForo img{
    width: 100px;
    height: 100px;
    border: 3px solid black;
    border-radius: 50%;
    object-fit: cover;/*como el background-sice:cover, lo cubre todo sin deofrmar la imagagen */
}
    

#mensajeForo{
    margin: 20px;
    width: 60%;
    color: black;
   
}
/*Registro*/
#cabeceraRegistro{
    padding: 25px;
    border: 2px solid black;
    background-image: url(https://i.pinimg.com/originals/d0/c2/fc/d0c2fc800ed8ff8947e4ebf2d55e8555.jpg);
    background-repeat: no-repeat;
    color:crimson;
    text-shadow: 3px 3px 3px black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Lobster,cursive;
}
.form{
    color: white;
}

/*botones*/
.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    background-color:#dc493a;
    border: none;
    border-radius: 10px;
    font-family: 'Fjalla One', sans-serif;
  }
  
  .button:hover {background-color:darkblue}
    /*Perfil*/
   #datosPerf{
   margin: 70px;
    display: flex;
    justify-content: space-around;
}
#datosPerf img{
    width: 30%;
    border: 3px solid green;
  
    
}
#nombrePerfil{   
    text-align: justify;
    color: sandybrown;
    
}
#nombrePerfil h1{
    font-size: 70px;
    font-family: 'Chango', cursive;
}
#infoPerfil{
    margin: 20px;
    padding: 20px;
    border: 2px solid green;
    border-radius: 20px;
    font-size: 30px;
    font-family: 'Itim', cursive;
   
}

/*  Destacados España*/
#ContenedorDestacadoE{
    margin: 40px;
    padding: 40px;
    width: 40%;
    border: 1px solid #dc493a;
    float:left;
    padding-left: 10px;
    padding-top: 10px;
    margin-left: 80px;
    position: relative;
    height: auto;
    text-align: justify;
    background-color: #1A1A1A;
    
        
}
#ContenedorDestacadoE h1{
    text-align: center;
    
}

#destacadosE{
    background-size: cover;
    background-image: url(https://www.wallpapertip.com/wmimgs/9-91402_festival-wallpaper-4k.jpg);
    color:sandybrown;
    text-shadow: 3px 3px 3px black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    border-radius: 10px;
    height: 250px;
    width: 100%;
    font-family: Lobster,cursive;
    
}
/*ver destacados España*/
#cabeceraVerEsp{
    margin: 20px;
    text-align: center;
    color: sandybrown;
}
#cabeceraVerEsp h1{
    font-size: 80px;
    font-family: 'Chango', cursive;
}
#cabeceraVerEsp h4{
    font-family: 'Lobster', cursive;
    margin: 50px;
}
#contenidoVerEsp{
    margin: 70px;
    display: flex;
    justify-content: space-around;
}
#contenidoVerEsp img{
    width: 48%;
}
#descripcionVerEsp{
  padding: 0px 0px 30px 15px;
  text-align: justify;
  color: sandybrown;
  font-size: 25px;
  font-family: 'Karla', sans-serif;
   
}
#videoVer{
    text-align: center;
   
}
/*Otros*/
#otros{
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1533174072545-7a4b6ad7a6c3?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZmVzdGl2YWx8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80);
    color:sandybrown;
    text-shadow: 3px 3px 3px black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    border-radius: 10px;
    height: 250px;
    width: 100%;
    font-family: Lobster,cursive;
    
}

/*sobre MI*/
#sobremi{
    background-size: cover;
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/128/403/594/background-smoke-color-colors-wallpaper-preview.jpg);
    color:sandybrown;
    text-shadow: 3px 3px 3px black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    border-radius: 10px;
    height: 250px;
    width: 100%;
    font-family: Lobster,cursive;
    
}
#datosCV{
   margin: 70px;
    display: flex;
    justify-content: space-around;
}
#datosCV img{
    width: 25%;
    border: 3px solid green;
  
    
}
#datosPerCV{   
    text-align: justify;
    color: sandybrown;
    
}
#datosPerCV h1{
    font-size: 70px;
    font-family: 'Chango', cursive;
}
#info{
    margin: 20px;
    padding: 20px;
    border: 2px solid green;
    border-radius: 20px;
    font-size: 30px;
    font-family: 'Itim', cursive;
   
}
#estudiosGeneral{
    color:sandybrown;
    margin: 70px;   
    text-align: justify;
}
#cabecEstudios{
    background-size: cover;
    background-image: url(https://www.institutodeformacionprogramada.com/wp-content/uploads/2017/01/recibir-formacion-fondo.jpg);
    border: 2px solid green;
    padding: 50px;
    text-align: center;
       
    
}
#cabecEstudios h1{
    font-family: 'Chango', cursive; 
    font-size: 70px;
}
#estudios{
    padding: 20px;
    border: 2px solid green;
    font-size: 30px;
    font-family: 'Itim', cursive;
    
}
#trabajoGeneral{
    color:darkolivegreen;
    margin: 70px;   
    text-align: justify;
}
#cabecTrabajo{
    background-size: cover;
    background-image: url(https://s3.amazonaws.com/arc-wordpress-client-uploads/infobae-wp/wp-content/uploads/2018/04/05180947/GettyImages-621371400.jpg);
    border: 2px solid green;
    padding: 50px;
    text-align: center;
       
    
}
#cabecTrabajo h1{
    font-family: 'Chango', cursive; 
    font-size: 70px;
}
#trabajo{
    color:sandybrown;
    padding: 20px;
    border: 2px solid green;
    font-size: 30px;
    font-family: 'Itim', cursive;
    
}
#programasGeneral{
    color:sandybrown;
    margin: 70px;   
    text-align: justify;
}
#cabecProgramas{
    background-size: cover;
    background-image: url(https://image.freepik.com/vector-gratis/codigo-programacion-fondo-codificacion-o-hacker-icono-codigo-programacion-hecho-codigo-binario_127544-815.jpg);
    border: 2px solid green;
    padding: 50px;
    text-align: center;
       
    
}
#cabecProgramas h1{
    font-family: 'Chango', cursive; 
    font-size: 70px;
}
#programas{
    padding: 20px;
    border: 2px solid green;
    font-size: 30px;
    font-family: 'Itim', cursive;
    
}
#mapa{
    text-align: center;
}
#mapa h1{
    font-family: 'Chango', cursive; 
    font-size: 70px;
    color:sandybrown;
}
/*Destacados Inicio*/
#textoDest{
    text-align: center;
    color: sandybrown;
    margin: 50px;
   
}
#textoDest h1{
    font-size: 70px;
    font-family: 'Chango', cursive;
}
#textoDest p{    
    font-size: 30px;
    font-family: 'Itim', cursive;
}
#destacadosCont{
    color: sandybrown;
    width: 100%;
    
    
}
#destMundo{
    padding-left: 10px;
    padding-top: 10px;
    margin-left: 57px;
    float: left;
    position: relative;
    width: 45%;
    height: auto;
    text-align: center;
    
}
#destMundo h2{
    font-size: 30px;
    font-family: 'Itim', cursive;    
}
#destEspaña{
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 10px;
    padding-bottom: 80px;
    position: relative;
    float: left;
    width: 45%;
    height: auto;
    text-align: center;
    
}
#destEspaña h2{
    font-size: 30px;
    font-family: 'Itim', cursive;
}
#destEspaña img{
    border:2px solid sandybrown;    
}
#destMundo img{
    border:2px solid sandybrown; 
}
#destMundo img:hover{
    filter: grayscale(80%);
}
#destEspaña img:hover{
    filter: grayscale(80%);
}
/*Otros Inicio*/
#textoOtro{
    text-align: center;
    color: sandybrown;
    margin: 50px;
   
}
#textoOtro h1{
    font-size: 70px;
    font-family: 'Chango', cursive;
}
#textoOtro p{    
    font-size: 30px;
    font-family: 'Itim', cursive;
}
#otroCont{
    color: sandybrown;
    width: 100%;
    
}
#otroTodos{
    padding-left: 10px;
    padding-top: 10px;
    margin-left: 57px;
    float: left;
    position: relative;
    width: 45%;
    height: auto;
    text-align: center;
    
}
#otroTodos h2{
    font-size: 30px;
    font-family: 'Itim', cursive;
    margin: 20px;    
}
#otroElectronica{
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 10px;
    padding-bottom: 80px;
    position: relative;
    float: left;
    width: 45%;
    height: auto;
    text-align: center;
    
}
#otroElectronica h2{
    font-size: 30px;
    font-family: 'Itim', cursive;
    margin: 20px;
}
#otroElectronica img{
    border:2px solid sandybrown;    
}
#otroTodos img{
    border:2px solid sandybrown; 
}
#otroTodos img:hover{
    filter: grayscale(80%);
}
#otroElectronica img:hover{
    filter: grayscale(80%);
}
/*Insertar mensaje*/
#cabeceraInsertarMensaje{
    padding: 25px;
    border: 2px solid black;
    background: radial-gradient(circle,lightblue,#25233b);
    background-repeat: no-repeat;
    color:crimson;
    text-shadow: 3px 3px 3px black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Lobster,cursive;
}