{% extends 'base.html.twig' %}

{% block title %}Editar Mensajes{% endblock %}

{% block body %}
    <body class="dark bg-dark">
        <div class="card">
            <div class="card-header">
              editar mensaje
            </div>
            <div class="card-body">
                {{ form(form, {'attr': {'id': 'formulario_editar_mensaje'}}) }}
            </div>
        </div>
    </body>
     
 
{% endblock %}